/* App color variables */
:root {
  --primary-color: #1c4980;
  --secondary-color: #383838;
  --background-color: #f4f6fa;
}

/* Optional global resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
  background: var(--background-color);
}
