@use '@angular/material' as mat;

/* Include core styles */
@include mat.core();

/* Define palettes */
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$blue-palette);
$warn: mat.define-palette(mat.$red-palette);

/* Define theme */
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

/* Apply theme */
@include mat.all-component-themes($theme);
